
aom
asgiref
brotli
brotli-bin
brotli-python
bzip2
c-ares
ca-certificates
cairo
certifi
cffi
charset-normalizer
colorama
contourpy
cpython
cycler
dav1d
dbus
django~=5.1.6
expat
ffmpeg
filelock
font-ttf-dejavu-sans-mono
font-ttf-inconsolata
font-ttf-source-code-pro
font-ttf-ubuntu
fontconfig
fonts-conda-ecosystem
fonts-conda-forge
fonttools
freetype
fribidi
fsspec
gdk-pixbuf
giflib
gmp
gmpy2
graphite2
h2
harfbuzz
hdf5
hpack
hyperframe
icu
idna
imath
jasper
jinja2
kiwisolver
krb5
lame
lcms2
lerc
libabseil
libaec
libasprintf
libass
libavif16
libblas
libbrotlicommon
libbrotlidec
libbrotlienc
libcblas
libcurl
libcxx
libdeflate
libedit
libev
libexpat
libffi
libgettextpo
libgfortran
libgfortran5
libglib
libhwloc
libiconv
libintl
libjpeg-turbo
liblapack
liblapacke
liblzma
libnghttp2
libogg
libopenblas
libopencv
libopenvino
libopenvino-arm-cpu-plugin
libopenvino-auto-batch-plugin
libopenvino-auto-plugin
libopenvino-hetero-plugin
libopenvino-ir-frontend
libopenvino-onnx-frontend
libopenvino-paddle-frontend
libopenvino-pytorch-frontend
libopenvino-tensorflow-frontend
libopenvino-tensorflow-lite-frontend
libopus
libpng
libprotobuf
librsvg
libsqlite
libssh2
libtiff
libtorch
libusb
libuv
libvorbis
libvpx
libwebp-base
libxcb
libxml2
libzlib
llvm-openmp
markupsafe
matplotlib-base
mpc
mpfr
mpmath
munkres
mysql-common
mysql-libs
mysqlclient
ncurses
networkx
nomkl
numpy
opencv
openexr
openh264
openjpeg
openssl
optree
packaging
pandas
pango
patsy
pcre2
pillow~=11.1.0
pip
pixman
psutil
pthread-stubs
pugixml
py-cpuinfo
py-opencv
pybind11
pybind11-global
pycparser
pyparsing
pysocks
python
python-dateutil
python-tzdata
python_abi
pytorch
pytz
pyyaml
qhull
rav1e
readline
requests~=2.32.3
scipy
sdl2
sdl3
seaborn
seaborn-base
setuptools
six
sleef
snappy
sqlparse
statsmodels
svt-av1
sympy
tbb
tk
torchvision
tqdm
typing-extensions
typing_extensions
tzdata
ultralytics~=8.3.80
unicodedata2
urllib3
wheel
x264
x265
xorg-libxau
xorg-libxdmcp
yaml
zstandard
zstd

pyqt6~=6.8.1
pyqt6-sip~=13.10.0